.myheader{
    min-height: 60px !important;
    background-color: #db4b3a;
    opacity: 0.9;
}
body{
    background-image: url("../img/bg.jpg");
    background-size: cover;
}
.navbar-nav{
    float: right;
}

.whiteband {
    padding: 0px;
    margin: 0px;
}

.navbar-inverse .navbar-nav > li > a{
    text-decoration: none;
    color: white;
}

.navbar-nav a:hover{
    text-decoration: none;
    color: white;
/*    font-weight: bold;*/
}

.navbar-header{
    background-color: white;
    height: 70px;
    width: 400px;
    color: white;
}

.navbar-brand img{
    width: 70%;
    margin-left: 50px;
}


.navbar-nav > li > a{
    padding-bottom:25px;
    padding-top: 25px;
    margin-right: 50px;
    font-size: 18px;
    font-family: Tahoma;
}

.middlehome{
    margin-top: 105px;
    margin-left: 60px;
    margin-right: 60px;
    text-align: right;
/*    min-height: 550px;*/
    
}
.middlehome .kanan{
    padding-top: 70px;
}
.middlehome .kanan img {
    margin-left: auto;
    margin-right: 10%;
    display: block;
    width: 50%;
    
}
.middlehome .tulisan img{
    margin-bottom:40px;
    margin-left: auto;
    margin-right: 10%;
    display: block;
     width: 70%;
}

.footers{
    min-height: 60px;
    background-color: #109bad;
}

.logobawah{
    float: right;
    margin-right: 10%;
    margin-top: 10px;
}

.middlevideo{
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    color: white;
     margin-top: 125px;
}

.middlevideo .video{
    margin-top: 20px;
}

.middlevideo .judul{
    font-size: 30px;
    margin-bottom: 10px;
}

.middlevideo .judulvideo{
    margin-left: 15%;
}

.middlevideo .video iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    margin-top: 10px;
    width: 650px;
    height: 400px;;
}

.middletentang{
    text-align: right;
    color: white;
    margin-top: 65px;
}

.middletentang .kanan{
    text-align: justify;
    color: white;
    margin-top: 65px;
}

.middletentang .kanan img{
    margin-top: 20px;
    margin-right: 0;
}

.middletentang p{
    font-size: 17px;
    opacity: 1;
}

.middletentang .tentangket{
    margin-top: 20px;
/*    opacity: 0.4;*/
    border-radius: 15px;
    padding: 10px 15px;;
/*    background-color: black;*/
}

.middlelogin label, .homelogin label{
    color: white;
}

.middlelogin .kiri, .homelogin{
    text-align: left;
    margin-top: 110px;
    opacity: 0.9;
    border-radius: 15px;
    padding: 20px 15px;;
    background-color: gray;
}

.homelogin{
    margin-top: 40px;
}

.middlelogin input, .homelogin input{
    margin-left: 25px;
}

.middlelogin .kanan{
   text-align: left;
    margin-top: 115px;
    opacity: 0.9;
    border-radius: 15px;
    padding: 20px 15px;;
    background-color: gray;
}

.middlelogin .btn-default, .homelogin .btn-default{
    margin-left: 25px;
    width: 295px;
    background-color: #db4b3a;
    color: white;
    
}
.middlelogin .btn-fb, .homelogin .btn-fb{
  background-color:transparent;  
    
}

.middlelogin .ors, .homelogin .ors{
    color:white;
    font-weight:bold;
    margin-left: 165px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.middlelogin .btn-register{
    margin-left: 75px;
    width: 270px;
}

.middlegaleri .kanan{
    text-align: justify;
    color: white;
    padding-top:  50px;
}

.middlegaleri .komponen{
    opacity: 0.7;   
    padding: 10px 5px 5px 5px;;
    background-color: gray;
    margin-left:30px;
    margin-bottom: 20px;
}

.middlegaleri .kanan img {
    display: grid; 
    width: 100%;
}

.middlegaleri .kanan .nama {
    text-align: center;
}

.middlegaleri .icons{
    margin-top: 5px;
    margin-bottom: 5px;
}
.middlegaleri .kanan .votes .votescount {
    text-align: right;
    font-size: 10px;
}

.middlegaleri .kanan .votes img {
    margin-left: -10px;
    width: 110%;
}



.middlegaleri .kanan .icons img{
    width: 100%;
}

.middlegaleri .btn-next img{
    width: 40%;
}


.middlesimulasi1 .text-judul{
    color: white;
    font-size: 25px;
    text-align: left;   
/*    margin-left: 20px;*/  
}

.middlesimulasi1 .kanan .tag-pilihan img{
    width: 40%;
}

.middlesimulasi1 .kanan .icon-bawah img{
    width: 100%;
}

.middlesimulasi1 .kanan .tag-pilihan2 img{
    width: 100%;
    margin-top: -30px;
}

.middlesimulasi1 .kanan .tag-pilihan2{
/*    width: 100%;*/
    margin-top: -30px;
}

.middlesimulasi1 .sim1-menus .bootstrap-select{
    opacity: 0.5;
}

.middlesimulasi1 .sim1-menus {
   margin-top: -30px;
}


.middlesimulasi2 .kanan .tag-pilihan img{
    width: 85%;
}

.middlesimulasi2 .kanan .sim1-lanjut{
/*
    margin-left: auto;
    display: block;
*/
}


.middlesimulasi4 .kanan .tulisan-final img{
    width: 60%;
}

.middlesimulasi4 .kanan{
    padding-top: 20px;
}

.middlesimulasi1 .sim1-menus{
    margin-top: -50px;
}

.middlesimulasi3 .sim1-menus{
    margin-top: 20px;
}


/*PROFILE*/
.middleprofile .kanan{
    text-align: justify;
    color: white;
    margin-top: 1px;
}

.middleprofile .komponen{
    opacity: 0.7;   
    padding: 10px 5px 5px 5px;;
    background-color: gray;
    margin-left:30px;
    margin-bottom: 20px;
}

.middleprofile .kanan img {
    display: grid; 
    width: 100%;
}

.middleprofile .kanan .nama {
    text-align: center;
}

.middleprofile .icons{
    margin-top: 5px;
    margin-bottom: 5px;
}
.middleprofile .kanan .votes .votescount {
    text-align: right;
    font-size: 10px;
}

.middleprofile .kanan .votes img {
    margin-left: -10px;
    width: 110%;
}

.middleprofile .kanan .icons img{
    width: 100%;
}

.middleprofile .profname{
    margin-top: 20px;
    font-size: 40px;
}

.middleprofile{
    margin-top: 60px;
}

.middlesimulasi .sim1-menus {
   margin-top: -30px;
}
.middlesimulasi3 .form-control{
    text-align: right;
}

.formnya .control-label{
    color: white;
}

.middlesimulasi3 .sim1-lanjut img{
    width: 70%;
    margin-top: 120px;
    
}


