@media (max-width: 960px) {
    
    body{
    background-image: url("../img/bg.png");
    background-size: auto;
}
    
    .middlehome{
        margin-left: 0;
        margin-right: 0;
    }
    
    .navbar-brand{
       width: 80%; 
    }
    
    .navbar-brand img{
        margin-left: 10px;
        width: 70%;
    }
    
    .navbar-header{
        width: 100%;
    }
    
    .navbar-inverse .navbar-toggle .icon-bar{
        background-color: black;
    }
    
    .middlehome .kanan{
        width: 100%;
    }
    
    .middlehome .kiri img{
        width: 100%;
        margin-left: auto;
        padding-left: 0;
    }
    
    .middlehome .kanan{
        padding-top: 100px;
    }
    
    .middlehome .kanan img{
        margin-right: auto;
        width: 80%;
    }
    
    .middlelogin .kiri{
        margin-top: 50px;
    }
    
    .middlelogin .kanan{
        margin-bottom: 100px;
    }
    
    .form-control{
        width: 90%;
    }
    
    .middlelogin .btn-default{
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 90%;
    }
    
    .middlevideo .video iframe{
        height: 250px;
        width: 100%;
        margin-top: 0;
    }
    
    .logobawah{
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 50%;
        float: none;
    }
    
    
}