.myheader{
    min-height: 60px !important;
    background-color: #db4b3a;
    opacity: 0.9;
}
body{
    background-image: url("../img/bg.png");
    background-size: cover;
}
.navbar-nav{
    float: right;
}

.whiteband {
    padding: 0px;
    margin: 0px;
}

.navbar-inverse .navbar-nav > li > a{
    text-decoration: none;
    color: white;
}

.navbar-nav a:hover{
    text-decoration: none;
    color: white;
/*    font-weight: bold;*/
}

.navbar-header{
    background-color: white;
    height: 70px;
    width: 500px;
    color: white;
}

.navbar-brand img{
    width: 70%;
    margin-left: 50px;
}


.navbar-nav > li > a{
    padding-bottom:25px;
    padding-top: 25px;
    margin-right: 50px;
    font-size: 18px;
    font-family: Tahoma;
}

.middlehome{
    margin-top: 105px;
    margin-left: 60px;
    margin-right: 60px;
    text-align: right;
/*    min-height: 550px;*/
    
}
.middlehome .kanan{
    padding-top: 200px;
}
.middlehome .kanan img {
    margin-left: auto;
    margin-right: 10%;
    display: block;
    width: 50%;
    
}

.footers{
    min-height: 60px;
    background-color: #109bad;
}

.logobawah{
    float: right;
    margin-right: 10%;
    margin-top: 10px;
}

.middlevideo{
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    color: white;
     margin-top: 125px;
}

.middlevideo .video{
    margin-top: 20px;
}

.middlevideo .judul{
    font-size: 30px;
    margin-bottom: 10px;
}

.middlevideo .judulvideo{
    margin-left: 15%;
}

.middlevideo .video iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    margin-top: 10px;
    width: 650px;
    height: 400px;;
}

.middletentang{
    text-align: left;
    color: white;
    margin-top: 125px;
}

.middletentang p{
    font-size: 17px;
    opacity: 1;
}

.middletentang .tentangket{
    margin-top: 20px;
    opacity: 0.4;
    border-radius: 15px;
    padding: 10px 15px;;
    background-color: black;
}

.middlelogin label{
    color: white;
}

.middlelogin .kiri{
    text-align: left;
    margin-top: 200px;
    opacity: 0.9;
    border-radius: 15px;
    padding: 20px 15px;;
    background-color: gray;
}

.middlelogin input{
    margin-left: 25px;
}

.middlelogin .kanan{
   text-align: left;
    margin-top: 150px;
    opacity: 0.9;
    border-radius: 15px;
    padding: 20px 15px;;
    background-color: gray;
}

.middlelogin .btn-default{
    margin-left: 25px;
    width: 220px;
    background-color: #db4b3a;
    color: white;
    
}

.middlelogin .btn-register{
    margin-left: 75px;
    width: 270px;
}